:root {
    --light-font-color: #ddd;
    --dark-background-color: #1f1f1f;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    color: var(--light-font-color);
    background-image: url("/img/start-backg.svg");
    background-size: cover;
    text-align: center;
    height: 100vh;
}

nav {
    background-color: #1f1f1f;
    display: flex;
    gap: 1.5rem;
    font-size: 50%;
}

nav>a {
    font-size: .9rem;
    padding: .5rem 0;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 94vh;
    justify-content: space-around;
}

h1 {
    font-size: 5rem;
    font-family: "Libre Franklin";
    margin: inherit
}

h2 {
    font-size: 2rem;
    font-family: "Catamaran";
    margin: inherit
}

header>.show-more {
    padding: 5rem 0;
}

p,
a {
    font-family: "Nobile";
    color: inherit;
    text-decoration: none;
}