* {
    scrollbar-width: thin;
    scrollbar-base-color: ;
}

:root {
    --light-font-color: #ddd;
    --dark-background-color: #1f1f1f;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

header {
    color: var(--light-font-color);
    background-image: url("/img/start-backg.svg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

nav {
    background-color: #1f1f1f;
    display: flex;
    font-size: .9rem;
    align-items: center;
    width: 100vw;
    max-width: 100%
}

nav>div {
    padding: .5rem;
    transition: .2s;
}

nav>div:hover {
    background-color: #2f2f2f;
}

nav a,
header>.show-more {
    font-family: "Catamaran";
    font-size: .9rem;
    text-decoration: none;
    color: inherit;
}

h1 {
    font-size: 5rem;
    font-family: "Libre Franklin";
    margin: inherit;
}

h2 {
    font-size: 2rem;
    font-family: "Catamaran";
    margin: inherit;
}

.show-more {
    padding: 3rem 0;
    font-size: 1.2rem;
}

p {
    font-family: "Nobile";
}

/*making it responsive*/
@media (max-width: 360px),
(max-height: 345px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1rem;
    }

    .show-more {
        padding: 1rem 0;
        font-size: .8rem;
    }

    .show-more>span {
        font-size: 24px;
    }
}