:root {
    --light-font-color: #ddd;
    --dark-background-color: #1f1f1f;

    --title-font: "Libre Franklin";
    --subtitle-font: "Catamaran";
    --normal-font: "Nobile";

    --normal-size: .9rem;
    --title-size: 5rem;
    --subtitle-size: 2rem;
    --button-size: .9rem;
    --sub-subtitle-size: 1.5rem;
}

html {
    scrollbar-width: thin;
    scroll-padding-top: 2.8rem
}

body {
    background-color: var(--dark-background-color);
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*HEADER ↓↓↓*/
header {
    color: var(--light-font-color);
    background-image: url("/img/start-backg.svg");
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: #110320;
    display: flex;
    font-size: var(--button-size);
    align-items: center;
    width: 100%;
    position: fixed;
    height: 1.8rem;
    z-index: 1;
}

nav>div {
    padding: .5rem;
    transition: .2s;
}

nav>div:hover {
    background-color: #270a46;
}

.title {
    opacity: 0;
    animation: 1s appearing .5s forwards
}

header h1 {
    font-size: var(--title-size);
    font-family: var(--title-font);
    margin: inherit;
}

header h2 {
    margin: inherit;
}

.show-more {
    opacity: 0;
    margin: 3rem 0;
    transition: .2s;
    animation: 1s appearing .5s forwards
}

/*HEADER ↑↑↑*/

/*MAIN ↓↓↓*/
main {
    display: flex;
    flex-flow: column;
    margin: 1rem;
    gap: 1rem;
    justify-content: center;
}



.text-div {
    display: flex;
    justify-content: space-around;
    gap: .5rem;
    flex-flow: column;
}

/*About me*/
#about-me {
    min-height: calc(100vh - 1.8rem);
}

#about-me>div {
    display: flex;
    gap: 2rem;
    background-color: #262626;
    padding: 1rem;
    border-radius: 5px;
    justify-content: center;
}

h2 {
    margin-bottom: 1rem;
}

#about-me img {
    border-radius: 3px;
    box-shadow: 8px 8px #181818;
    max-width: 90%;
    align-self: center
}

#about-me p {
    line-height: 1.2rem;
}

/*projects*/
#projects-div {
    margin: 0 5vw;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.project {
    text-align: center;
    background-color: #262626;
    border-radius: 5px;
    padding: .5rem;
    transition: .2s;
}

.project:hover {
    background-color: #363636;
    cursor: pointer;
}

/*MAIN ↑↑↑*/

/*GENERAL ↓↓↓*/
.normal-text {
    font-size: var(--normal-size);
    color: var(--light-font-color);
    font-family: var(--normal-font);
}

.button {
    color: var(--light-font-color);
    font-size: var(--button-size);
    font-family: var(--subtitle-font);
    text-decoration: none;
}

.subtitle {
    color: var(--light-font-color);
    font-size: var(--subtitle-size);
    font-family: var(--subtitle-font);
}

.sub-subtitle {
    color: var(--light-font-color);
    font-size: var(--sub-subtitle-size);
    font-family: var(--subtitle-font);
}

@media (max-width: 680px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1rem;
    }

    .show-more {
        padding: 1rem 0;
        font-size: .8rem;
    }

    #about-me h2,
    #about-me-div {
        margin: 1rem;
    }
}

@media (max-width: 1000px) {
    #about-me-div {
        flex-direction: column;
    }
}

@keyframes appearing {
    from {}

    to {
        opacity: 1;
    }
}